<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428215831742-861i1dhffc1vue37b8renbf09qbmctl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428215831742-861i1dhffc1vue37b8renbf09qbmctl2</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ_ck-ugehdJwgd68sccQnKL6T2FxJdlo</string>
	<key>GCM_SENDER_ID</key>
	<string>428215831742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sedu.socialapp</string>
	<key>PROJECT_ID</key>
	<string>self-study-7a60b</string>
	<key>STORAGE_BUCKET</key>
	<string>self-study-7a60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428215831742:ios:87656f47a7f2386759a2ef</string>
</dict>
</plist>